Repository front-end-by-rimantas/31-grupe-portfolio-daniels, pull requests merged in 2021-11, with the labels that each got.

#36 changed h1, rem to px, added pseudo element after section-title
  css/base/base.css
  css/components/header.css
  img/dots.png
  index.html
Labels: CSS, HTML

#50 Blog section updated
  assets/dots.png
  assets/hero.jpg
  assets/megafon.jpg
  assets/picture.jpg
  assets/skalbenke.jpg
  css/base/base.css
  css/home.css
  index.html
Labels: CSS, HTML, Images

#57 fixes
  index.html
Labels: HTML

#51 footer-html-css
  css/base/base.css
  css/home.css
  index.html
Labels: CSS, HTML

#62 Merge Develop into Master/Main
  README.md
  assets/portfolio-1.jpg
  assets/portfolio-2.jpg
  assets/portfolio-3.jpg
  assets/portfolio-4.jpg
  assets/portfolio-5.jpg
  assets/portfolio-6.jpg
  css/base/base.css
  css/home.css
  index.html
Labels: CSS, HTML, Images
